html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Nunito', sans-serif;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #07041C;
}


/**********************NAVBAR SECTION ************************************/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #291e6e;
    padding: 5px 10%;
    position: sticky;
    top: 0px;
}

.navbar #menu {
    cursor: pointer;
    width: 60px;
    display: none;
}

.navbar #logo {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.navbar #nav {
    display: flex;
}

.navbar #nav li {
    list-style: none;
    color: #fff;
}

.navbar #nav li a {
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    font-size: 16px;
}

.navbar #nav li a:hover {
    border-bottom: 4px #060e58 solid;
}

/**********************INTRODUCTION SECTION ************************************/
#hero {
    display: flex;
    padding: 0px 10%;
    min-height: 95vh;
}

#hero div {
    margin: auto;
}

#hero #intro {
    font-size: 27px;
    color: #fff;
    padding-top: 7%;

}

#hero #intro #greetings {
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
    padding-bottom: 80px;
}

#hero #intro a {
    padding: 5px 10px;
    color: #fff;
    border: white 1px solid;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: #1798B5;
}

#hero #intro a:hover {
    background: transparent;
    border: #fff 1px solid;
    color: #B21360;
}

#hero #image {
    width: 40vw;
    height: 80vh;
    object-fit: inherit;
}

#social-links {
    display: flex;
    align-items: center;
}

#social-link {
    width: 60px;
    margin-bottom: 50px;
    margin-right: 10px;
}

#hero-btn {

    border: rgb(117, 88, 199) 1px solid;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin: auto !important;
    text-align: center !important;
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 7px 15px;
}


/**********************ABOUT SECTION ************************************/
#about-me {
    display: flex;
    padding: 0px 8%;
    min-height: 90vh;
}

#about-me #image {
    width: 40vw;
    height: 80vh;
    object-fit: inherit;
}

#about-me h2 {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
}

#about-me p {
    color: #fff;
    font-size: 16px;
}

#tech-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 5px;
}

#skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

#skill-icon {
    width: 40px;
}

#skill-list{
    background-color: red;
    padding: none !important;
}

#list-item {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 0px;
}

/**********************PROJECTS SECTION ************************************/

#project-section {
    padding: 0px 5%;
    min-height: 90vh;
}

#project-section #heading {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

#project-section #projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;

}

#project-section #projects #project {
    border-radius: 5px;
    background-color: #060e58;
    min-height: 60vh;
}

#project-section #projects div img {
    width: 100%;
    object-fit: contain;
}

#project-section #projects #project #description {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    text-align: center;
}

#project-section #projects #project #project-name {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

#project-section #projects #project p {
    color: rgb(197, 191, 191);
    font-size: 16px;
}

#project-section #projects a {
    border: rgb(117, 88, 199) 1px solid;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin: auto !important;
    text-align: center !important;
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 7px 15px;
}


#project-section #projects a:hover {
    opacity: 0.9;
    transform: scale(0.98);
}




/**********************ACHIEVEMENTS SECTION ************************************/

#achievements-section {
    padding: 0px 5%;
    min-height: 90vh;
}

#achievements-section #heading {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

#achievements-section #achievements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 20px;
}

#achievements-section #achievements div img {
    width: 100%;
    object-fit: contain;
}



/**********************CONTACT SECTION ************************************/
#contact {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
    padding-top: 50px;
}

#info1 {
    font-size: 40px;
    font-weight: bolder;
}

#info2 {
    font-size: 20px;
}

#info3 {
    font-size: 20px;
    display: flex;
    align-items: center;
}

#info4 {
    font-size: 20px;
}

form .form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email,
#name,
textarea {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;

}

#email,
#name,
textarea:focus {
    outline: none;
}

form #btn {
    margin-top: 20px;
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 7px 60px;
    border-radius: 5px;
    background-color: #1798B5;
    cursor: pointer;
    margin: auto !important;

}

form #btn:hover {
    background: transparent;
    border: #b4b1c4 1px solid;
    color: #fff;
}

.navbar #nav .active {
    display: inline-block;
}





/**********************FOOTER SECTION ************************************/
footer {
    text-align: center;
    color: #fff;
    padding-top: 100px;
    font-size: 20px;
}

@media only screen and (max-width: 880px) {
    #hero {
        flex-direction: column-reverse;
        padding: 0px 6%;
    }

    #hero #image {
        width: 90vw;
        height: 100vh;
        object-fit: inherit;
    }

    #about-me {
        flex-direction: column;
        padding: 0px 6%;
    }

    #about-me #image {
        width: 90vw;
        height: 100vh;
        object-fit: inherit;

    }
}

@media only screen and (max-width: 800px) {

    #email,
    #name,
    textarea {
        width: 80%;
    }



}


@media only screen and (max-width: 860px) {

    .navbar {
        padding: 10px 6%;
    }

    .navbar #menu {
        display: block;
        width: 40px;
    }

    .navbar #nav {
        display: none;
    }

    .navbar #nav.responsive {
        display: block;
        float: left;
        position: absolute;
        left: 5%;
        top: 10%;
        z-index: 1;
        background-color: rgb(11, 11, 36);
        width: 80%;

    }

    .navbar #nav li {
        padding-bottom: 20px;
        font-size: 24px;
    }



}